<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: #df4759;
        }
        
        p {
            color: white;
            font-size: larger;
            text-align: center;
        }
        
        a {
            color: white;
            font-size: larger;
            text-align: center;
        }
    </style>
</head>

<body>
    <p style="font-size:100px">&#128546;</p>
    <p>Viktorina is sorry to tell you that your authentification failed.</p>
    <p>It seems that you have provided an invalid email/password.</p>
    <div style="text-align: center">
        <a href="http://localhost:3000/signin">Retry</a>
    </div>

</body>

</html>