<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: #df4759;
        }
        
        p {
            color: white;
            font-size: larger;
            text-align: center;
        }
        
        a {
            color: white;
            font-size: larger;
            text-align: center;
        }
    </style>
    <meta http-equiv="refresh" content="7; URL=http://localhost:3000/home" />
</head>

<body>
    <p style="font-size:100px">&#128522;</p>
    <p>Greetings from Viktorina team!</p>
    <p>Welcome on board!</p>
    <p>you will be Redirected to the home page in a bit, if u don't please click below</p>
    <div style="text-align: center">
        <a href="http://localhost:3000/home">Home</a>
    </div>

</body>

</html>